.page {
  background-color: #000;
  color: #fff;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
}

@media screen and (max-width: 910px) {
  .page {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .page {
    margin: 0;
  }

  .page__section {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .page__content {
    padding: 0;
  }
}
