.profile__info-discription {
  max-width: 350px;
  max-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #FFFFFF;
}

@media screen and ( max-width: 768px) {
  .profile__info-discription {
    font-size: 1rem;
    max-width: 282px;

    }
}

@media screen and ( max-width: 588px) {
  .profile__info-discription {
    max-width: 200px;
    height: 17px;
    font-size: 0.875rem;
    line-height: 1.062rem;
    margin-bottom: 30px;
    grid-column-start: -3;
    }
}
