.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  top: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 36px;
  width: 358px;
  background-color: white;
  color: black;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.popup__input-text {
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid black;
  padding: 13px 0 7px;
  font-size: 14px;
  font-weight: 400;
}

.popup__input-text:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid black;
  outline: 0;
}

.popup__input-submit {
  margin-top: 24px;
  border: none;
  border-radius: 2px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.popup__input-submit:hover {
  opacity: 0.7;
}

.popup__input-disabled {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  opacity: 0.2;
  cursor: default;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.7;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error {
  visibility: hidden;
  color: red;
  font-size: 12px;
}

.popup__error_visible {
  visibility: visible;
}

@media only screen and (max-width: 683px) {
  .popup__container {
    width: 238px;
    padding: 22px;
    margin-top: 27px;
    position: absolute;
  }

  .popup__close-button {
    top: -46px;
    right: 10px;
    width: 26px;
    height: 26px;
  }

  .popup__card-image {
    width: 26px;
    height: 26px;
  }

  .popup__title {
    font-size: 18px;
  }

  .popup__input-text {
    font-size: 14px;
    margin-bottom: 22px;
    padding: 0 0 9px 0;
  }
}
